<style>
    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .row.no-gutters>[class^="col-"],
    .row.no-gutters>[class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 60px;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px !important;
        margin-left: 50px;
    }

    .foot-bar {
        bottom: 55px;
        position: absolute;
        height: 45px;
        width: 100%;
        background-color: #a9a9a9;
    }

    .log-out__btn {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        padding: 5px 0px;
        color: #fff;
        align-items: center;
        height: 100%;
    }

    .long-text__menu {
        padding: 0 !important;
        display: flex !important;
        align-items: center !important;
    }

    .text-ellips {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<!-- <span style="font-size:30px;cursor:pointer">☰</span> -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <ul class="list-unstyled">
        <li class="navigation__sub  navigation__sub--toggled">
            <a class="get-menu-id" href="/route#">
                <i class="fa fa-bookmark"></i><span class="pl-2">Master Info.</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
            <ul style="list-style: none;">

                <li class="active treeview">
                    <a href="/route/accounting/master">
                        <i class="fa fa-bookmark-o"></i> <span class="pl-2">Ledgers</span>
                    </a>
                </li>

                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-bookmark-o"></i> <span class="pl-2">Grouphing</span>
                    </a>
                </li>

            </ul>
        </li>
        <li class="active treeview">
            <a href="/route/accounting/transactionEntry">
                <i class="fa fa-bookmark"></i><span class="pl-2">Transaction</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
        </li>

        <li class="active treeview">
            <a href="/route/accounting/accountingInfo">
                <i class="fa fa-bookmark"></i><span class="pl-2">Dashboard</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
        </li>

        <li class="active treeview navigation__sub  navigation__sub--toggled">
            <a href="#">
                <i class="fa fa-bookmark"></i><span class="pl-2">Reports</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
            <ul style="list-style: none;">
                <li class="active treeview">
                    <a href="/route/accounting/transactionReport" class="long-text__menu">
                        <i class="fa fa-bookmark-o"></i> <span class="pl-2 text-ellips">Transaction Report</span>
                    </a>
                </li>
                <li class="active treeview">
                    <a href="/route/accounting/ledgerFormat" class="long-text__menu">
                        <i class="fa fa-bookmark-o"></i> <span class="pl-2 text-ellips">Ledger Format</span>
                    </a>
                </li>
                <li class="active treeview">
                    <a href="/route/accounting/ledger" class="long-text__menu">
                        <i class="fa fa-bookmark-o"></i> <span class="pl-2 text-ellips">Monthly Info Ledger</span>
                    </a>
                </li>

                <li class="active treeview">
                    <a href="/route/accounting/trialBalance" class="long-text__menu">
                        <i class="fa fa-bookmark-o"></i> <span class="pl-2 text-ellips">Trail Balance</span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="active treeview">
            <a href="/route/accounting/voucherCreation">
                <i class="fa fa-bookmark"></i><span class="pl-2">Bank Statement Voucher Creation</span><i
                    class="fa fa-angle-left pull-right"></i>
            </a>
        </li>

        <!-- <li class="active treeview">
        <a href="/route/accounting/financialAccount">
            <i class="fa fa-bookmark"></i><span class="pl-2" onclick="existFromAccountingModule()">Exist</span><i
                class="fa fa-angle-left pull-right"></i>
        </a>
    </li> -->

    </ul>
    <div class="foot-bar">
        <div class="log-out__btn">
            <a href="/route/accounting/financialAccount" style="padding: 0;color: white;">
                <i class="fa fa-power-off" style="background-color: #636363;padding: 15px;" aria-hidden="true"
                    onclick="existFromAccountingModule()"></i>
            </a>
        </div>
    </div>
</div>


<script>

    function openNav() {
        var e = document.getElementById("mySidenav");
        if (e.style.width == '180px') {
            e.style.width = '0px';
        }
        else {
            e.style.width = '180px';
        }
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function existFromAccountingModule() {
        localStorage.clear();
    }

</script>