    <body>
        <div class="container-scroller">
            <!-- partial:partials/_horizontal-navbar.html -->
            <div class="horizontal-menu">
                <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                    <div class="container">
                        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                            <a class="navbar-brand brand-logo" style="color: #b66dff;font-weight: 600;" href="/index">
                                <!-- <img src="assets/images/logo.svg" alt="logo" /> -->
                                CARDIO SPRINT
                            </a>
                            <a class="navbar-brand brand-logo-mini" style="color: #b66dff;font-weight: 600;" href="/index">
                                <!-- <img src="assets/images/logo-mini.svg" alt="logo" /> -->
                                CARDIO SPRINT
                            </a>
                        </div>
                        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- <ul class="navbar-nav mr-lg-2">
                                <li class="nav-item nav-search d-none d-lg-block">
                                    <div class="input-group">
                                        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                            <span class="input-group-text" id="search">
                                                <i class="mdi mdi-magnify"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search projects" aria-label="search" aria-describedby="search">
                                    </div>
                                </li>
                            </ul> -->
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item nav-profile dropdown">
                                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <div class="nav-profile-img">
                                            <img src="assets/images/faces/face1.jpg" alt="image">
                                            <span class="availability-status online"></span>
                                        </div>
                                        <div class="nav-profile-text">
                                            <p class="text-black"><%= username.uName %></p>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                        <!-- <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a> -->
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                                    </div>
                                </li>
                                
                                <li class="nav-item nav-logout d-none d-lg-flex">
                                    <a class="nav-link" href="/logout">
                                        <i class="mdi mdi-power"></i>
                                    </a>
                                </li>
                               <!--  <li class="nav-item nav-settings d-none d-lg-flex">
                                    <a class="nav-link" href="#">
                                        <i class="mdi mdi-format-line-spacing"></i>
                                    </a>
                                </li> -->
                            </ul>
                            <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                                <span class="mdi mdi-menu"></span>
                            </button> -->
                        </div>
                    </div>
                </nav>
                <nav class="bottom-navbar">
                    <div class="container">
                        <ul class="nav page-navigation">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">
                                    <i class="mdi mdi-home menu-icon"></i>
                                    <span class="menu-title">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/form">
                                    <i class="mdi mdi-file-restore menu-icon"></i>
                                    <span class="menu-title">FORM PAGE</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/table">
                                    <i class="mdi mdi-file-restore menu-icon"></i>
                                    <span class="menu-title">LIST PAGE</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="mdi mdi-webpack menu-icon"></i>
                                    <span class="menu-title">Apps</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="submenu">
                                    <ul class="submenu-item">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/kanban-board.html">Kanban board</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/email.html">Email</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/todo.html">Todo list</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/calendar.html">Calendar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/gallery.html">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/widgets.html">Widgets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/tickets.html">Tickets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/apps/chats.html">Chats</a>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>