<% include ../partials/head %>
<% include ../partials/header %>

<!-- <style type="text/css">
.txt_col_blue {
    color: blue;
}
.bg_first_col {
    background: #f5f5f5;
    border-bottom: 1px solid #aaa!important
}
.dataTables_filter label {
    float: left;
}
.remove_member {
    margin-top: -30px;
    float: right;
}
.filter-accordion h5 a{
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid #E1E1E1;
    display: block;
    text-decoration: none;
    margin-bottom: 0;
    color: #504a4a;
    text-transform: uppercase;
}
.filter-accordion h5{
  margin: 0;
}
.filter-accordion p {
  margin: 24px 0;
}
.filter-accordion
{
  /*margin-top: 34px;*/
}
.inner{
border:thin dotted #ccc;
}
.filter-accordion + h5
{
  margin-top: 64px;
}
.filter-accordion h5 a:before
{
  content: "➤";
  margin-right: 7px;
  font-family: arial;
  font-weight: normal;
  width: 14px;
  display: inline-block;
  transform: rotate(90deg);
}
.filter-accordion h5 a.selected:before
{
  content: "➤";
  margin-right: 7px;
  font-family: arial;
  font-weight: normal;
  width: 14px;
  display: inline-block;
  transform: rotate(-90deg);
}
.filter-accordion .inner
{
  padding: 10px 20px;
  background:#ececec
}
a.selected
{
  color: #504a4a !important;
}
.filter-title {
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    /*border-top: 1px solid #ccc;*/
    padding: 10px 10px 5px 10px;
}
h5.filter-title {
    margin: 10px 0px !important;
    background: #ccc;
    padding: 10px;
}
h5.box-title {
    font-size: 14px !important;
}
.filter-content{
  display: none;
}
.sector-container {
    padding: 7px !important;
    background: #fff !important;
}
.sector-checkbox,.year-checkbox,.kesarian-checkbox {
    padding: 5px 2px;
    text-transform: uppercase;
    /*position: relative;*/
}
.filter-booking-agent-box,.filter-year-content-box,.filter-sector-box {
    height: 500px;
    overflow-y: scroll;
}
.filter-booking-agent-box label {
    font-size: 10px;
}
.booking-agent-container{
    padding: 0px 5px !important;
}
.series-container,{
    display: block;
}
.kesarian-container {
    display: none;
}
.series-box,.kesarian-box {
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
    position: absolute;
    left: 52px;
    background: #fff;
    border: 1px solid #eaeaec;
    color: #3e4152;
    width: 1000px;
    min-height: 150px;
    z-index: 2;
    padding: 30px 0;
    overflow-x: scroll;
    white-space: nowrap;
}
.title-bar {
    display: block;
    position: relative;
}
.series,.kesarian {
    padding: 2px;
    margin: 4px 4px;
    overflow: hidden;
}
.series-row,.kesarian-row {
    width: 300px;
    position: relative;
    display: inline-block;
}
.remove_panel span {
    font-size: 31px;
    position: absolute;
    top: -32px;
    left: 10px;
    font-weight: bold;
}
.remove_panel span:hover {
    cursor: pointer;
}
.history-container span {
    font-size: 30px;
}
.guest-list-table,.sms-count-table{
    height: 500px;
    overflow: scroll;
    display: block;
}
.loader {
  border: 9px solid #b9b0b0;
    border-radius: 50%;
    border-top: 9px solid #b92213;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    z-index: 100000000;
    top: 50%;
    right: 50%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.disable-body{
    opacity: 0.5;
    background: #333;
    pointer-events: none;
}
.ht200 {
    height: 200px !important;
}
.myTable   th{
    width:100px;
    background-color:#eee;
}
tr.status_F{
    background: #F1BEC0!important;
    color: #000;
}
tr.status_M{
  background: #B0F2FB!important;
  color: #000;
}
.cancelapp{  text-decoration: line-through;  }
</style> -->
  <div class="row">
        <div class="loader"></div>
            <div class="col-md-2 tour-filter-box">
            <form id="selector">
                <div class="box box-primary accordion filter-accordion">
                  <h5 class="filter-title">Filters : </h5>
                    <h5 class="box-title"><a href="#">Branch</a></h5>
                    <div class="box-body filter-content inner sector-container">
                      <div class="filter-stbranch-box">
                      </div>
                    </div> 
                   
                    <div class="box bgff">
                        <div class="form-group">
                            <label class="fs12"><strong>Date</strong></label>
                            <div class="input-group">
                                <button type="button" class="btn btn-default pull-right" id="filter_sms_generator_daterange">
                                    <i class="fa fa-calendar"></i> <span> Till Today</span>
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <input type="hidden" name="from_date" id="filter_history_from_date" />
                            <input type="hidden" name="to_date" id="filter_history_to_date" />
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                       <!--  <h3 class="box-title form-title"> Your Selection :</h3> -->
                        <div class="your-selection-container">
                            
                        </div>
                        <div class="history-container">
                            
                        </div>
                        <button class="btn hidden btn-primary form_add_entry input-sm pull-right" type="submit">Add Your Selection :</button>
                    </div>
                    <!--  -->
                            </div>
                        </div>
                        <div class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
            </div>
            <div class="col-md-4 hidden">
                <div class="box box-primary">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="space--10"></div>
                                    <div class="box-body pushsns_table">

                                        <table class="table table-bordered table-striped display nowrap order-column" id="pp_on_name_table">
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                    <div id="pop1" class="popbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- <script type="text/javascript">
         function reformatDate(data) {
           if (data) {
            var year = data.substr(0, 4);
            var month = data.substr(5, 2);
            var mydate = data.substr(8, 2);
            var newDate = mydate + "/" + month + "/" + year;
            return newDate;
          } else return data;
          }

              var SixMonthsOld = new Date();
              var currentDate = new Date();
              SixMonthsOld = new Date(SixMonthsOld.setDate(currentDate.getDate() - 180));

              
            function getHistoryDataWithQuery(){
              $(".loader").show();
              $('body').addClass('disable-body');
                var $form = $('form#selector');
                var formData = $form.serializeObject();
                var yourSelectionList = '';

                var optionList = '';

                if(formData.from_date === ""){
                      formData.from_date = currentDate.getFullYear()+"-"+(currentDate.getMonth() + 1)+"-"+currentDate.getDate();
        
                }

                if(formData.to_date === ""){
                    formData.to_date = currentDate.getFullYear()+"-"+(currentDate.getMonth() + 1)+"-"+currentDate.getDate();
                }
                if(formData.nonGroup){
                  var nonGroup = formData.nonGroup;
                  delete formData.nonGroup
                }
                var formDataKeysLen = Object.keys(formData).length;
                if(formDataKeysLen > 0){
                $.post('/routeST/appointmentST/getSukhoDataWithQuery/',formData, function(data) {
                    if(data){
                        console.log(data);
                    data = JSON.parse(JSON.stringify(data));
                    var totalCount = data.totalCount;
                    var dataSet = data.dataSet;
                    var seriesCount = data.seriesCount;
                    console.log(totalCount);

                    
                     var wtotal=0;
                     var atotal=0; 
                     var total= 0;
                     var totalMergeCount = 0;
                        optionList += '<div class="">';
                        seriesCount = _.sortBy(seriesCount,'TOURCODE');
                        $.each(seriesCount,function(){
                            totalMergeCount = parseInt(totalMergeCount + this.count);
                            total = totalMergeCount;     
                            console.log(total);
                            $('#total_count').val(total);
                        });
                        
                        optionList += '<div class="row">';
                        optionList += '<div class="col-md-4">';
                        optionList += '<span class="bold">TOTAL </span><span class="text-green">'+indianFormatNumber(total)+'</span>';
                        optionList += '</div>';
                       
                        optionList += '</div>';   
                        optionList += '</div>';
                        optionList += '<div class="row">';
                        optionList += '<div class="col-md-12">';
                        optionList += '<table id="tabletest" class="table table-bordered table-striped guest-list-table">';
                        optionList += '<thead>';
                        optionList += '<tr>';
                        optionList += '<th>Bncd</th>';
                        optionList += '<th>Date</th>';
                        optionList += '<th>TA</th>';
                        optionList += '<th>In</th>';
                        optionList += '<th>Chair</th>';
                        optionList += '<th>Guest</th>';
                        optionList += '<th>Group</th>';
                        optionList += '<th>Thrpy</th>';
                        optionList += '<th>Therapist Name</th>';
                        optionList += '<th>Out</th>';
                        optionList += '<th>Paid</th>';
                        optionList += '</tr>';
                        optionList += '</thead>';
                        optionList += '<tbody>';
                        $.each(dataSet, function(i) {
                             var gender = this.F31_MF;
                             var walkins = this.F31_TAFLAG;
                             var cancelapp = "";
                             if(this.CANC_DT && this.CANC_DT != ""){ cancelapp = "cancelapp"; } 
                          var name = this.F31_TAFLAG != "" ? this.F31_NAME : this.F31_FNAME;
                          var BranchNo = this.ST_BRN.substr(3,5);
                          var appDate = this.F31_APPTDT;
                         
                           
                            optionList += '<tr class="status_'+gender+' '+cancelapp+'">';
                            optionList += '<td data-gender="'+this.F31_MF+'">' + BranchNo+'</td>';
                            optionList += '<td>' + reformatDate(appDate)+'</td>';
                            optionList += '<td>' + this.F31_TAFLAG+this.F31_GRPH+'</td>';
                            optionList += '<td>' + this.F31_TIME1 + '</td>';
                            optionList += '<td>' + this.F31_CHRCD+ '</td>';
                            optionList += '<td>' + this.F31_NAME+ '</td>';
                            optionList +='<td>'  + this.F31_GRPH+this.F31_GRPD+'</td>';
                            optionList += '<td>' + this.F31_TCODE+ '</td>';
                            optionList += '<td>' + this.F31_IDNM1+'&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'+this.F31_IDNM2+'</td>';
                            optionList += '<td>' + this.F31_TIME2+ '</td>';
                            optionList += '<td>' + this.REC_YN+'</td>';
                            optionList += '</tr>';
                        });
                        optionList += '</tbody>';
                        optionList += '</table>';
                        optionList += '</div>';
                        optionList += '</div>';
                    }else{
                        optionList += ''
                    }
                    localStorage.setItem('sms-dataQuery',JSON.stringify(data.query));
                    $('.sms_campaign_name_box').removeClass('hidden');
                    $('.history-container').html(optionList);
                     $(".loader").hide();
                      $('body').removeClass('disable-body');
                });
                }
                if(formData){
                    if(formData.stbranch){
                        yourSelectionList += '<div class="yourSelection-stbranch">Branch : </strong>'+formData.stbranch.toString()+'</span>&nbsp;&nbsp;&nbsp;</div>';
                    }
                   
                    if(formData.from_date){
                        yourSelectionList += '<span><strong>FromDate : </strong>'+formData.from_date+'</span>&nbsp;&nbsp;&nbsp;';
                        yourSelectionList += '<span><strong>ToDate : </strong>'+formData.to_date+'</span>&nbsp;&nbsp;&nbsp;';
                    }
                   
                  
                    yourSelectionList +='<br><br>';
                }
                $('.your-selection-container').html(yourSelectionList);
            }
           
            $(window).load(function(e) {

               
            });

            $(document).ready(function(e) {


            //    $(".timepicker").timepicker({
            //         showInputs: false,
            //         showMeridian: false
            //     });

            //     $('.datepicker').datepicker({
            //         autoclose: true
            //     });

                var messagePrefix = "Dear Guest ,";
                $('#message').keyup(function(e) {
                    $('#sample_message').val('');
                    var txtVal = messagePrefix;
                    txtVal += $(this).val();
                    $('#sample_message').val(txtVal);
                });

                var date = new Date();
                var year = date.getFullYear()+2;
                for(var i = 1984;i <= year;i++){
                    $('.year-selector').append($('<div class="year-checkbox" data-sector=' + i + '><label><input name="tourYear[]" type="checkbox" class="year-checkbox" value=' + i + '>' + i + '</label></div>'));
                }
                
                $(document).on('change','.sector-checkbox-all',function(){
                    if($(this).hasClass('sector-checkbox-all') === true && $(this).is(':checked')){
                        $(".sector-checkbox").prop("checked", true);
                    }
                });

                $(document).on('change','form#selector :input',function(){
                    _this = $(this);
                    if($(this).hasClass('sector-checkbox') === true && $(this).is(':checked')){
                        getTourSeriesForSelector(_this , $(this).val())
                    }
                    getHistoryDataWithQuery();
                });

                // $(document).on('click','.push_mob',function(){
                //    var mobileNumber = $('#nonGroup').val();
                //     getHistoryDataWithQuery();
                // });
                
                $(document).on('click', '.remove_panel', function() {
                    $(this).parent().parent().css('display','none');
                });
            
            var allPanels = $('.filter-accordion > .inner').hide();
              $('.filter-accordion > h5 > a').click(function() {
                 $(this).slideDown(500);
                $(this).toggleClass('selected');
                $(this).parent().next().slideToggle(function() { 
                  });
                return false;
              });


              // Date Range Picker
              $('#filter_sms_generator_daterange').daterangepicker({
                    "opens": "right",
                    ranges: {
                        'Till Today': [moment('1984-01-01'), moment()],
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract('days', 1)],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    locale: {
                        format: 'DD/MM/YYYY'
                    },
                    startDate: moment(),
                    endDate: moment()
                },
                function(start, end, label) {
                    $('#filter_history_from_date').val(start.format('YYYY-MM-DD'));
                    $("#filter_history_to_date").val(end.format('YYYY-MM-DD'));
                    if (label === 'Custom Range') {
                        $("#filter_sms_generator_daterange span").html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
                    } else {
                        $("#filter_sms_generator_daterange span").html(label);
                    }
                     getHistoryDataWithQuery();
                }
            );
            //End of Date Range Picker

            });
        </script> -->
<% include ../partials/footer%>